* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #123b4a;

    background: linear-gradient(
        135deg,
        #b9e9ff,
        #ffffff
    );
}

header {
    height: 75px;

    background: white;

    padding: 0 7%;

    display: flex;

    align-items: center;

    justify-content: space-between;
}

header h2 {
    color: #159ed0;

    font-size: 28px;
}

nav {
    display: flex;

    align-items: center;

    gap: 28px;
}

nav a {
    text-decoration: none;

    color: #123b4a;

    font-size: 16px;

    font-weight: bold;
}

nav a:hover,
nav a.active {
    color: #159ed0;

    border-bottom: 3px solid #159ed0;

    padding-bottom: 7px;
}

.education {
    min-height: calc(100vh - 75px);

    padding: 55px 8%;

    text-align: center;

    background: linear-gradient(
        135deg,
        #b9e9ff,
        #ffffff
    );
}

.education h1 {
    font-size: 50px;

    color: #159ed0;

    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;

    color: #456b78;

    margin-bottom: 45px;
}

.education-container {
    max-width: 1050px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.education-card {
    background: white;

    padding: 30px 25px;

    border-radius: 18px;

    text-align: left;

    box-shadow:
        0 8px 25px rgba(21, 158, 208, 0.15);

    transition: 0.3s;
}

.education-card:hover {
    transform: translateY(-8px);
}

.year {
    display: inline-block;

    background: #dff6ff;

    color: #087eaa;

    padding: 8px 15px;

    border-radius: 20px;

    font-size: 14px;

    font-weight: bold;

    margin-bottom: 20px;
}

.education-card h2 {
    color: #159ed0;

    font-size: 23px;

    margin-bottom: 10px;
}

.education-card h3 {
    color: #123b4a;

    font-size: 18px;

    margin-bottom: 15px;
}

.education-card p {
    color: #456b78;

    font-size: 16px;

    line-height: 1.7;
}


    header {
        height: auto;

        padding: 20px;

        flex-direction: column;

        gap: 20px;
    }

    nav {
        flex-wrap: wrap;

        justify-content: center;

        gap: 15px;
    }

    .education {
        padding: 45px 20px;
    }

    .education-container {
        grid-template-columns: 1fr;
    }

    .education h1 {
        font-size: 40px;
    }

footer {
    background: white;
    color:black;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}